
  
  .parentdiv1{
    width: auto;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div11{
   padding: 0 1em;
   max-width: 600px;
   margin: 0 auto;
  }
  h1{
    font-family: 'Lexend', sans-serif;
  }
  p{
    font-family: 'Lexend', sans-serif;
  }
 
 