
.parentdiv{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1{
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  margin-top: 7rem;

}
.mailanimate{
  display: flex;
}
h1{
  font-family: 'Lexend', sans-serif;
}
p{
  font-family: 'Lexend', sans-serif;
}
.navstyle{
  margin: 15px;
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}
.navstyletop{
  margin: 11px;
  display: flex;
  gap: 0.5rem;
}
.div2{
  display: flex;
  font-family: 'Lexend', sans-serif;
  gap: 1rem;
}
.image{
  margin-left: 25px;
  border-radius: 50%;
  width: 142px;
  height: 142px;
  float: left;
  margin-right:35px;
}

.hpdiv1{
  padding: 1rem;
}
.btmbar{
  margin-left: 24rem;
  display: flex;
  font-size: 1.5rem;
  gap: 0.75rem;
  margin-bottom: 3rem;
  
}
@media (max-width: 600px) {
  body{
    background-color: rgb(12, 15, 17);
  }
  .div2{

    margin-left: 2rem;
    flex-wrap: wrap;
    
  }
  .hpdiv1{
    padding-top: 9rem;
    margin-left: 1rem;
  }

  .imgage{
   position: relative;
   align-items: center;
   width: 150px;
  }
  .hpdiv p{
    
   font-size: x-large;
  }
  .imgdiv{
   margin-left: 100px;
   margin-bottom: 25px;
  }
  .navstyle{
    margin: 15px;
    display: flex;
    font-size: x-small;
  }
  .btmbar{
    margin-left: 7rem;
    display: flex;
    font-size: 1.5rem;
    gap: 0.75rem;
    
  }
}
